# Template for the alphagenome config file
[alphagenome_params]
genes = ["ENSG00000139618", "ENSG00000157764"]
# Genes to use for subsetting the matrix table and finding variants of interest for alphagenome
# This is a list of Ensembl gene IDs, e.g.:
# ENSG00000139618, ENSG00000157764

# The following parameters are used to filter variants in the matrix table
#this is the frequency of the allele in the callset as it may be enriched due to selection bias
callset_af = 0.01

#This is the general population frequency of the allele, e.g. from gnomAD
#this is used to filter out common variants that are not of interest
pop_af = 0.01

#Genotyping platforms assign a quality score (e.g., GQ, genotype quality) to each genotype call, indicating the confidence in the call.
#This is used to filter out low-quality genotype calls, this is strict and can be adjusted based on the dataset quality
gq_threshold = 25

#These are the consequences to filter variants by, checked against the standard location of VEP consequences in the
#seqr_loader matrix table
#consequences = ['3_prime_UTR_variant', '5_prime_UTR_variant', 'splice_region_variant']

# UBERON terms. Default=demo list.
organs=['UBERON:0000992', 'UBERON:0002371', 'UBERON:0000948', 'UBERON:0000955', 'UBERON:0001134', 'UBERON:0001264']

# UBERON:0000992 — female reproductive system
# UBERON:0002371 — Bone marrow
# UBERON:0000948 — heart
# UBERON:0000955 — brain
# UBERON:0001134 — skeletal muscle tissue
# UBERON:0001264 — pancreas
# UBERON:0002113 - kidney
# UBERON:0003714 - neural tissue

# |ALT/REF−1| score threshold of significance.
sig_threshold=0.997

# AlphaGenome API key; else from env. no default, is required
api_key=""
# GENCODE transcript annotation feather path/URL, default to gencode.v46.annotation.gtf.gz.feather
gtf = 'gs://cpg-common-main/references/alphagenome/gencode.v46.annotation.gtf.gz.feather'
